@model List<CodingEventsDemo.Models.EventCategory>

<<<<<<< HEAD
    <h1>Event Categories</h1>

    <table class="table">
        <tr>
            <th>
                Category Name
            </th>
        </tr>
        @foreach (var evtCat in Model)
        {
            <tr>
                <td>@evtCat.Name</td>
            </tr>
        }
    </table>
=======
<h1>All Event Categories</h1>

@if (Model.Count == 0)
{
    <p>No Event Categories yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>Id
            <th>Category Name</th>
        </tr>
        @foreach (EventCategory category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </table>
}
>>>>>>> 273616482705bf23682333d0e67a55344a2dd55a
