@using CodingEventsDemo.ViewModels;
@model AddEventViewModel;

<h1>Add Event</h1>

<form asp-controller="Events" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" />
    </div>
    <input type="submit" value="Add Event" />
</form>
