@model CodingEventsDemo.ViewModels.AddEventViewModel;

<h1>Add Event</h1>

<form asp-controller="Events" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
    </div>
    <div class="form-group">
<<<<<<< HEAD
        <label asp-for="CategoryId">Event Type</label>
=======
        <label asp-for="CategoryId">Category</label>
>>>>>>> 273616482705bf23682333d0e67a55344a2dd55a
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <input type="submit" value="Add Event" />
</form>
